$none: 0;
$small-padding: 5px;
$regular-radius: 8px;
$regular-margin: 10px;
$regular-gap: 20px;
$medium-padding: 25px;
$top-space: 40px;
$card-height: 70px;
$full-width: 100px;
$logo: 150px;
$meeting-card-height: 160px; 
$meeting-card-width: 175px; 
$max-content: 700px;
$section-max-height: 800px;

$main: 95%;

$complete-height: 80vh;
