@import '../styles/sizes';
@import '../styles/colors';
@import '../styles/others';

.main {
  max-width: $max-content;
  margin: $top-space auto;
  width: $main;
  display: flex;
  flex-direction: column;

  .logo {
    width: $logo;
    margin: $regular-margin auto;
  }

  .wrapper {
    border-radius: $regular-radius;
    height: $complete-height;
    max-height: $section-max-height;
    text-align: center;
    background-color: $clear-ghost;
    box-shadow: $regular-shadow;
    padding-top: $regular-margin;
    position: relative;
    overflow-y: scroll;
  }  
}
